h1 {
	font-size: 20px;
	color: #282828;
	margin-bottom: -20px;
}

html, body {
  height:100%;
}
body {
  display:flex;
  align-items:center;
}

@media (max-width: 575px) {
	#title {
		font-size: 106px;
		color: purple;
	}
}

@media (min-width: 576px) {
	#title {
		font-size: 106px;
		color: red;
	}
}

@media (min-width: 768px) {
	#title {
		font-size: 144px;
		color: yellow;
	}
}

@media (min-width: 992px) {
	#title {
		font-size: 196px;
		color: blue;
	}
}

@media (min-width: 1200px) {
	#title {
		font-size: 234px;
		color: green;
	}
}


