#mainhtml {
	height:100%;
}

#mainbody {
	height: 100%;
	display:flex;
	align-items:center;
}

#title {
	font-size: 106px;
	color: #282828;
	margin-bottom: -10px;
}

#navbar {
	border-bottom: 1px;
	border-bottom-style: solid;
	border-bottom-color: #282828;
	
	border-top: 1px;
	border-top-style: solid;
	border-top-color: #282828;
	
	margin-bottom: 10px;
}

.pagenavbar {
	margin-top: 10px;
}

.navelement:hover {
	background-color: #282828;
}

.navelement:hover .navlink {
	color: white;
}

.navlink {
	color: #282828;
	text-decoration: none;
	display: inline-block;
	width: 100%;
}

.navlink:hover {
	text-decoration: none;
}

@media (max-width: 575px) {
	#title {
		font-size: 106px;
	}
}

@media (min-width: 576px) {
	#title {
		font-size: 106px;
	}
}

@media (min-width: 768px) {
	#title {
		font-size: 144px;
	}
}

@media (min-width: 992px) {
	#title {
		font-size: 196px;
	}
}

@media (min-width: 1200px) {
	#title {
		font-size: 234px;
	}
}



